body {
	font-family: Arial, sans-serif;
  background: url(../images/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logout {
  border-radius: 8px;
  background-color: #6495ed;
  border: none;
  text-align: center;
  font-size: 90%;
  padding: 15px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: right;
  color: white;
  
}

.logout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logout span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: -20px;
  transition: 0.0s;
  }

.logout:hover span {
  padding-right: 25px;
  font-size:120%;

}

.logout:hover span:after {
  opacity: 1;
  right: 0;
}
a:link, a:hover, a:active, a:visited {
	text-decoration: none;
  color: inherit;
}

.rcl {
	position: relative;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(192,192,192,0.1);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  font-size: 150%;
  color: white;
  margin-top: -10%;
  width: 300px;
  top: 42%;
}
.rcl:hover {
  font-size: 110%;
  background-color: #f4f4f4;
  color: #6495ed;
  border: none;
}

div.rcl1 {
  position: absolute;
}

.tbl {
  /*width: 50%;*/
  height: 70%;
  position: relative;
  display: block;
  /*left: 25%;*/
  top: 27%;
  text-align: center;
  overflow: auto;
  margin: 0 auto;
}
table {	
	border-color: #167F92;
	border-radius: 10px;
}
table, th, td {
  text-align: left;
 /* margin: 15px 0;*/
	border: none;
}   
th, td {
	padding: 10px 10px;
}
th {
	text-align: center;
  padding: 15px;
  font-size: 20px;
  margin: 10px 0;
}
td {
  padding: 10px;
  text-align: left;
  border: none;
}
/*table tr:hover{
    background-color:#f5f5f5;
}*/
table td:first-child {
	text-align: center;
}
table tr:first-child th:first-child {
    -moz-border-radius-top-left:15px;
    -webkit-border-top-left-radius:15px;
    border-top-left-radius:15px
 }
table tr:first-child th:last-child {
    -moz-border-radius-top-right:15px;
    -webkit-border-top-right-radius:15px;
    border-top-right-radius:15px
 }
table tr:nth-child(even) {
    background-color: #fff;
}
table tr:nth-child(odd) {
   background-color: #b3c6ff;
}
table#t01 th  {
    background-color: #167F92;
    color: white;
}
table#t01 {
  width: 50%;
}
table#t02 {
  width: 94%;
  border: 1px solid white;
}
table#t02 th  {
    background-color: #167F92;
    color: white;
}
table#t03 {
  width: 90%;
}
table#t03 th  {
    background-color: #167F92;
    color: white;
}
.btn {
  border-radius: 12px;
  text-align: center;
  color: white;
  font-size: 13px;
  background-color: #ff5c33;
  padding: 5px 12px 5px 12px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 5px rgba(26,26,26,0.8);
}
.btn:hover {
  color: #ff5c33;
  background-color: #f5ebf5;
  text-decoration: none;
}
.btn:active {
	background-color: #f5ebf5;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

.back {
  border-radius: 8px;
  background-color: #ff5c33;
  border: none;
  text-align: center;
  font-size: 120%;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
  color: white;
}
.back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.back span:after {
  content: "«";
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 20px;
  transition: 0.0s;
  }
.back:hover span {
  padding-left: 25px;
  font-size:120%;
}
.back:hover span:after {
  opacity: 1;
  left: 0;
}

div#tbsv {
  
  font-size: 130%;
  
}